@using CustomerSupport.Models;
@model ContactSupportRequestModel;

@{
    ViewData["Title"] = $"Client request";
}

<div class="case-details">
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Email:</strong> @Model.UserEmailAddress</p>
    <p><strong>Title:</strong> @Model.RequestTitle</p>
    <p><strong>Description:</strong> @Model.RequestDescription</p>
    <p><strong>Category:</strong> @Model.Category</p>
</div>

<div>
    <form asp-action="" asp-controller="Home">
        <input asp-asp-for=""/>
    </form>
</div>